button {
    background-color: #6099be;
    font-size: 2rem;
    color: #e3e3e3;
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    background-color: #37739b;
    cursor: pointer;
}

.equals {
    grid-column: 3 / 5;
    background-color: #f36364;
}

.equals:hover, .clear:hover {
    background-color: #bd3a3a;
}

.clear {
    grid-column: 1 / 3;
    background-color: #f36364;
}