$main-font: "Bebas Neue", sans-serif;
$color-pool: (
        #ff3c3c, #f5a041, #f3f84d, #75fc57, #4fefff, #5795fa, #8b78ff, #fc7efc, #fc7ebb
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  background: linear-gradient(to right, #5C258D, #4389A2);
}

.drum-pad {
  color: white;
  font-size: 5rem;
  background: #1d1a41;
  border-radius: 1rem;
  transition: background 0.3s, box-shadow 0.3s;
  box-shadow: 0px 0px 13px 0px rgba(102,0,255,0.8);

  &:hover, &:active {
    cursor: pointer;
    box-shadow: 0px 0px 13px 0px rgba(206,191,255,0.8);
    $num-colors: 100;
    @for $i from 1 through length($color-pool) {
      &:nth-child(#{$i}) {
        background: nth($color-pool, $i);
      }
    }
  }
}

.row {
  width: 450px;
}

#display {
  color: white;
  font-size: 5rem;
}