* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif;
}

body {
    background: linear-gradient(to right, #EECDA3, #EF629F);
    transition: background 0.5s ease-in-out;
}

/* Gradients */

.bg1 {
    background: linear-gradient(to right, #7F7FD5, #86A8E7, #f7797d);
}

.bg2 {
    background: linear-gradient(to right, #c2e59c, #64b3f4);
}

.bg3 {
    background: linear-gradient(to right, #acb6e5, #86fde8);
}

/* Quote Container */

#quote-box {
    max-width: 700px;
    background: white;
    border-radius: 5px;
}

