* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", sans-serif;
    color: #444a4f;
}

body {
    background: linear-gradient(to right, #FDC830, #F37335);
}

body, #quote-box {
    transform: translateZ(0);
}


/* Gradients */

.bg1, .bg2, .bg3, .bg4, .bg5 {
    transition: background 1s ease-in-out;
}

.bg1 {
    background: linear-gradient(to right, #11998e, #38ef7d);
}

.bg2 {
    background: linear-gradient(to right, #B24592, #F15F79);
}

.bg3 {
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
}

.bg4 {
    background: linear-gradient(to right, #4776E6, #8E54E9);
}

.bg5 {
    background: linear-gradient(to right, #FDC830, #F37335);
}

/* Quote Container */

#quote-box {
    max-width: 700px;
    max-height: 600px;
    overflow: hidden;
    background: #f5f5f5;
    border-radius: 2rem;
    padding: 3rem;
    opacity: 0.8;
    transition: transform 0.5s ease, opacity 0.5s ease, max-height 0.5s ease;
    text-align: justify;
}

#quote-box:hover {
    transform: scale(1.2);
    opacity: 1;
}

#quote-box.expanded {
    max-height: 1000px;
}

#quote-text-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#text {
    font-family: "Reenie Beanie", serif;
    font-size: 3rem;
}

#author {
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: end;
}

#new-quote {
    font-weight: 300;
    color: white;
}

#tweet-quote {
    font-size: 3rem;
}

.copyright {
    margin-top: 2rem;
    color: white;
    font-size: 1.5rem;
}

.important {
    color: #c5004d;
}

a {
    color: white;
}

a:hover {
     color: #c5004d;
 }


